html { height: 100% }
body { height: 100%; margin: 0px; padding: 0px }

body {
  font-family: Tahoma, Geneva, sans-serif;
}

#splashBody {
  background-image:url('../images/screen.png');
}

.cover {
  position: absolute;
  height: 100%;
  width:100%;
  background-color: rgba(255, 255, 255, 0.5);
}

#splashHeader h1 {
  font-size: 40px;
  /* foursquare color */
  color: #00c0de;
  padding-bottom:35px;
}

#splashHeader h2 {
  font-size: 30px;
  color: #bae71c;
  padding-bottom:35px;
}

#splashHeader h3 {
  font-size: 22px;
  /* foursquare color */
  color: #00c0de;
}

.dropdown select {
  width: 200px;
}

.overlay {
  border: 1px solid #ccc;

  z-index: 1;
  background-color: white;
  background-color: rgba(255, 255, 255, 0.93);
  filter: Alpha(Opacity=93);

  padding: 15px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;

  /* http://robertnyman.com/2010/03/16/drop-shadow-with-css-for-all-web-browsers/ */
  -moz-box-shadow: 3px 3px 4px #000;
  -webkit-box-shadow: 3px 3px 4px #000;
  box-shadow: 3px 3px 4px #000;
  /* For IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
  /* For IE 5.5 - 7 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');

  border-radius: 10px;
  position: absolute;
}

#lWrapepr {
  position: absolute;
}

#loginButton {
  position: absolute;
  right: 0px;
  top: 0px;
}

#listBox {
  top: 30px;
  left: 30px;
  border: #ccc 10px;
}

/* green: #bae71c */

#listBox h1 {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  /* foursquare color */
  color: #00c0de;
  padding-bottom: 10px;
}

#listSelection h1 {
  font-size: 35px;
}

#activeListTitle {
  font-weight:bold;
  padding: 5px 0;
}

#listSelection {
  padding-bottom:10px;
}

#map_canvas {
  height: 100%;
  width: 100%;
}  


/* overrides some default overlay settings */
#splashHeader {
  bottom:80px;
  right:40px;
  padding: 40px;
  width:60%;
}
